
<header>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap">
    <img src="assets/logo.png" alt="Logo" class="logo">
    <!--<h1>BlueSky</h1>-->
        <h2>Contrôler l'énergie pour mieux l'utiliser</h2>

    <div class="panel padding-10">
            <button><a routerLink="/Accueil">Accueil</a></button>
            <button><a routerLink="/MonEau">Mon Eau</a></button>
            <button><a routerLink="/MonAir">Mon Air</a></button>
            <button><a routerLink="/Register">Mes Appareils</a></button>
    </div>
    <br>
</header>