<body>
    <div class="body-header">
        <h2>Avec BlueSky, gérez votre énergie</h2>
        <p class="body-description">BlueSky est une application vous permettant de suivre en temps réel la qualité de votre air et de votre eau, tout en vous proposant des conseils pour améliorer ces dernières.</p>
    </div>

    <div class="card-container">
        <figure class="card" routerLink="/MonEau">
            <img src="../../assets/arbre-solitaire.jpg" alt="Arbre solitaire" class="card_image">
            <figcaption class="card_body">
                <h2 class="card_title">Gestion de l'eau</h2>
                <img src="../../assets/gouttes-de-liquide.png" class="card_icon" alt="Icône gouttes de liquide" />
                <button>Check</button>
            </figcaption>
        </figure>
        <figure class="card" routerLink="/MonAir">
            <img src="../../assets/prise-vue-au-grand-angle-seul-arbre-poussant-sous-ciel-assombri-pendant-coucher-soleil-entoure-herbe.jpg" alt="Vue au grand angle" class="card_image" />
            <figcaption class="card_body">
                <h2 class="card_title">Gestion de l'air</h2>
                <img src="../../assets/vent.png" class="card_icon" alt="Icône vent" />
                <button>Check</button>
            </figcaption>
        </figure>
    </div>
</body>
