<body>
    <p class="index">Index de Qualité</p>
    <div class="circle-container">
        <div class="circle" [class]="getColorClass(nombre)">
            {{ nombre }} 
        </div>
    </div>
       
    <p class="tableau">Tableau des mesures</p>
    <div class="table-container">
        <table>
            <tr class="header-row">
            <th>Paramètres mesurés</th>
            <th>Vos Valeurs</th>
            <th>Valeurs acceptées</th>
            </tr>
            <tr>
                <td>Turbidité</td>
                <td>{{ vTurb }}µg/m3</td>
                <td>0 - 300 (µg/m3)</td>
            </tr>
            <tr> 
                <td>pH</td>
                <td>{{ vpH }}ppm</td>
                <td>0 - 1000 (ppm)</td>
            </tr>
        </table>
    </div>
    <br><br>
    <p class="titre_desc">Turbidité</p>
    <div class="description">
        <ul>
            <li>    Le niveau optimal est de moins de 100µg/m3. </li>
            <li>    Le niveau est toléré entre 100 et 300 µg/m3.</li>
            <li>    Au dessus de 300µg/m3 on considère le niveau d'alerte. </li>
        </ul>
    </div>
    <p class="texte">--------
    </p>

    <br><br>
    <p class="titre_desc">pH</p>
    <div class="description">
        <ul>
            <li>    Le niveau optimal est de moins de 800ppm. </li>
            <li>    Le niveau est toléré entre 800 et 1000 ppm.</li>
            <li>    Au dessus de 1000ppm on considère le niveau d'alerte. </li>
        </ul>
    </div>
    <p class="texte">-----------
    </p>    

    <br><br>  
    
</body>
