<body>
    <p class="index">Index de Qualité</p>
    <div class="circle-container">
        <div class="circle" [class]="getColorClass(nombre)">
            {{ nombre }} 
        </div>
    </div>
       
    <p class="tableau">Tableau des mesures</p>
    <div class="table-container">
        <table>
            <tr class="header-row">
            <th>Paramètres mesurés</th>
            <th>Vos Valeurs</th>
            <th>Valeurs acceptées</th>
            </tr>
            <tr>
                <td>TVOC</td>
                <td>{{ vTurb }}µg/m3</td>
                <td>0 - 300 (µg/m3)</td>
            </tr>
            <tr> 
                <td>CO2</td>
                <td>{{ vpH }}ppm</td>
                <td>0 - 1000 (ppm)</td>
            </tr>
        </table>
    </div>
    <br><br>
    <p class="titre_desc">TVOC : Composés Organiques Volatiles Totaux</p>
    <div class="description">
        <ul>
            <li>    Le niveau optimal est de moins de 100µg/m3. </li>
            <li>    Le niveau est toléré entre 100 et 300 µg/m3.</li>
            <li>    Au dessus de 300µg/m3 on considère le niveau d'alerte. </li>
        </ul>
    </div>
    <p class="texte">La TVOC représente le taux de microparticules que l'on retrouve dans l'air. Ces particules peuvent être de toutes
    natures, certaines étant beaucoup plus néfastes que d'autres. On la mesure en microgramme par metre cube d'air (µg/m3), c'est-à-dire
    combien de microgramme de particules trouves-t-on dans un mètre cube d'air. 
    Une TVOC trop élevée a en général un impact sur les voies respiratoires, mais peut provoquer aussi des maux de têtes et 
    de la fatigues. Les allergies sont aussi des symptômes souvent constatés, tout comme des problèmes neurologiques tels que 
    des étourdissements, des troubles de la mémoire ou encore du sommeil. Enfin une exposition trop longue entraîne des 
    problèmes de santé chroniques comme des troubles respiratoires, des problèmes cardio-vasculaires ou encore des maladies du foie. 
    Enfin les taux élevés de TVOC augmentent le risque de cancer, notamment le cancer des poumons. 
    </p>

    <br><br>
    <p class="titre_desc">CO2 : Dioxyde de Carbone</p>
    <div class="description">
        <ul>
            <li>    Le niveau optimal est de moins de 800ppm. </li>
            <li>    Le niveau est toléré entre 800 et 1000 ppm.</li>
            <li>    Au dessus de 1000ppm on considère le niveau d'alerte. </li>
        </ul>
    </div>
    <p class="texte">Le CO2 est un gaz incolore et inodore que l'on retrouve dans l'air (moins de 1%). On le mesure en parties par
    million (ppm), donc le nombres de parties de CO2 pour un millions de parties d'air. Un taux de CO2 chez soi peut provoquer différents 
    troubles comme de la somnolence et de la fatigue, des maux de têtes ou encore des difficultés respiratoires. Lors d'une exposition à long 
    terme, le CO2 peut affecter le systèe cardiovasculaire en augmentant la fréquence cardiaque, et peut aussi entraîner une diminution de la 
    performance cognitive, de la concentration et de la productivité. 
    </p>    

    <br><br>  
    
</body>
