body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #000000;
}

.index {
    position: absolute;
    right:15%;
    font-weight: bold;
    font-size: 50px;
    margin: 20px 100px 10px; /* Ajout d'espace avant la première phrase */
}

.circle-container{
    position : absolute;
    right: 23%;
    top: 50%;
}

.circle {
    width: 150px; /* Ajustez la taille du cercle selon vos besoins */
    height: 150px; /* Ajustez la taille du cercle selon vos besoins */
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Pour centrer le cercle horizontalement */
    font-size: 60px;

}

.red {
    background-color: red;
}
  
.orange {
    background-color: orange;
}

.green {
    background-color: green;
}

.tableau{
    position:relative;
    left:15%;
    font-weight: bold;
    font-size: 50px;
    margin: 20px 100px 10px; /* Ajout d'espace avant la première phrase */
}

.table-container {
    position: relative; /* Ajustement de la position du tableau */
    left:7%;
}
  
table {
    border-collapse: collapse;
    width: 40%; /* Ajustement de la largeur du tableau */
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    font-size: 36px; /* Ajustement de la taille de la police */
}

.header-row{
    background-color: #5071E6;
}

.titre_desc{
    font-size: 36px;
    position: relative;
    left:5%;
    font-weight: bold;
}

.description{
    font-size: 34px;
    position: relative;
    left: 7%;
    max-width: 2500px; /* Ajustez la largeur maximale selon vos besoins */
    margin: 0 auto; /* Centre le paragraphe horizontalement */
}

.texte{
    font-size: 34px;
    margin: 0 auto;
    position: relative;
    max-width: 2400px;
    text-align: justify;
}

